html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2c3333;
  color: white;
  font-family: sans-serif;
  overscroll-behavior: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(2rem, 4vw, 4rem);
  margin-bottom: clamp(20px, 4vw, 64px);
}

.sketch-container {
  width: clamp(300px, 50vw, 764px);
  height: clamp(300px, 50vw, 764px);
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  display: grid;
  background-color: white;
}

.pixel {
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  width: 128px;
  padding: 8px;
  display: block;
  background-color: #cbe4de;
  outline: none;
  border: 2px solid black;
  font-size: large;
  border-radius: 6px;
  transition: all 0.3s;
  position: relative;
}

button:active {
  top: 2px;
}

#eraser {
  margin: 16px;
}

.settings > .btn-on {
  background-color: #0e8388;
  color: white;
}

.settings > p {
  margin-top: 32px;
  margin-bottom: 0;
  font-weight: 600;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer > a {
  text-align: center;
  color: white;
  text-decoration: none;
}

.footer > a > img {
  width: 18px;
  border-radius: 50%;
  margin-left: 6px;
}
